.main {
  height: 100%;
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 50px;
}
@media only screen and (max-width: 600px) {
  .main {
    margin-top: 35px;
    margin-right: 20px;
    margin-left: 10px;
  }
}

.header {
  margin-bottom: 50px;
}
@media only screen and (max-width: 600px) {
  .header {
    margin-bottom: 20px;
  }
}
.header .header__h1 {
  font-family: Verdana;
  letter-spacing: 4px;
  text-decoration: underline;
  -webkit-text-decoration-color: orange;
          text-decoration-color: orange;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.section .section__p--margin-bottom {
  margin-bottom: 50px;
}
@media only screen and (max-width: 600px) {
  .section .section__p--margin-bottom {
    margin-bottom: 35px;
  }
}

.grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(min(10rem, 100%), 1fr));
}

.grid--template-cols-2 {
  grid-template-columns: -webkit-max-content auto;
  grid-template-columns: max-content auto;
}
@media only screen and (max-width: 600px) {
  .grid--template-cols-2 img {
    width: 75px;
  }
}

.image {
  height: 75px;
}

.flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 100px;
}