// used in @function
$px_smallest: 1px; 

// Font sizes
$fs_xsmall: 14px;
$fs_small: 16px;
$fs_medium: 20px;
$fs_large: 30px;

// Font family
$font_content: 'Varela Round', sans-serif; //sans-serif;
$font_title: Verdana;

// Letter Spacing
$space_large: 6px;
$space_medium: 4px;
$space_small: 2px;

// Margins
$margin_large: 50px;
$margin_medium: 35px;
$margin_small: 20px;
$margin_xsmall: 10px;

// Colors
$color_bg_menu_visible: black;
$color_bg_menu_hidden: white;
$color_a_active: orange;
$color_a_link_blue: blue;
$color_a_link_black: black;

// Mobile
$media_max_width: 600px;
