@import "variables";
@import "mixins";
@import "functions";

.bodygrid {
    padding: 0;
    margin: 0;
    font-family: $font_content;
    letter-spacing: $space_small;
    min-height: 100vh;

    @include grid_style(1fr 2fr);

    @media only screen and (max-width: $media_max_width){
        @include grid_style(max-content auto);
    }

    & .bodygrid--row {
        grid-row: 1 / 3;
    }
}

.nav {
    background-color: $color_bg_menu_visible;
    
    @media only screen and (max-width: $media_max_width){
        background-color: $color_bg_menu_hidden;
        padding-right: $margin_xsmall;
    }

    & .nav__img {
        height: 40px;        
        visibility: hidden;
        
        @media only screen and (max-width: $media_max_width){
            height: 30px;
            visibility: visible;
            padding-top: $margin_xsmall;
            padding-left: $margin_xsmall;
        }
    }

    & .nav__section {   
        height: 90%;
        max-height: 75vh;

        & ul {
            @include ul_style;

            & li {
                @include li_style;          

                & a {
                    @include a_style;
                }
        
                & a:hover {
                    @include a_hover_style;
                }
            }
        }
    }
}

#menu-items {
    @media only screen and (max-width: $media_max_width){
        visibility: hidden;
        font-size: $px_smallest;
    }
}

#link-home,
#link-about,
#link-techstack,
#link-projects,
#link-contact {
    color: $color_a_active;
}

.link {
    color: $color_a_link_blue;
    font-weight: bold;
}

.link--color-black{
    color: $color_a_link_black;
}

.link--font-xsmall {
    font-size: ResizeFont(12);
}

.link--decoration-none {
    text-decoration: none;
}





