@import "variables";
@import "mixins";
@import "functions";
  
.main {  
    height: 100vh;
    @include flex_style(column, space-between);
}

.main__section {
    height: 80%;
    @include flex_style(column, center, center);

    & section {
        @include flex_style(column, center, center);
    }

    & img {
        max-width: 100%;
        width: 300px;
        @media only screen and (max-width: $media_max_width){
            width: 200px;
        }
        padding: $margin_small;
    }
}

.header {
    text-align: center;

    & div:first-child { 
        font-family: "Sacramento"; 
        font-size: $fs_xlarge;
        letter-spacing: $space_large; 
        //text-transform: uppercase;
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
        margin-bottom: $margin_small;
    }

    & div:nth-child(2) {
        font-size: $fs_medium;
        letter-spacing: 3px; 
    }

    @media only screen and (max-width: $media_max_width){
        & div:first-child {
            font-size: $fs_large;
        }
        & div:nth-child(2) {
            font-size: $fs_small;
        }
    }
}

.footer {
    text-align: right;
    font-size: $fs_small;
    @include margin_right_bottom($margin_large, $margin_large);
    
    @media only screen and (max-width: $media_max_width){
        font-size: $fs_xsmall;
        @include margin_right_bottom($margin_small, $margin_small);
    }

    & :last-child {
        margin-top: $margin_small;
        font-size: ResizeFont(12);
    }
}



