@import "variables";
@import "mixins";
@import "functions";
  
.main {  
    height: 100vh;
    @include flex_style(column, space-between);
}

.main__section {
    height: 80%;
    @include flex_style(column, center, center);

    & img {
        width: 80%;
        padding: $margin_small;
    }
}

.header {
    text-align: center;
    font-family: $font_title;

    & div:first-child { 
        font-size: $fs_large;
        font-weight: bold;
        margin-bottom: $margin_small;
    }

    & div:nth-child(2) {
        font-size: $fs_medium;
    }

    @media only screen and (max-width: $media_max_width){
        & div:first-child {
            font-size: $fs_medium;
        }
        & div:nth-child(2) {
            font-size: $fs_small;
        }
    }
}

.footer {
    text-align: right;
    font-size: $fs_small;
    @include margin_right_bottom($margin_large, $margin_large);
    
    @media only screen and (max-width: $media_max_width){
        font-size: $fs_xsmall;
        @include margin_right_bottom($margin_small, $margin_small);
    }
}



